@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterThin.woff') format('woff');
	src:          url('assets/fonts/InterThin.woff2') format('woff2');
	font-weight:  100;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterExtraLight.woff') format('woff');
	src:          url('assets/fonts/InterExtraLight.woff2') format('woff2');
	font-weight:  200;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterLight.woff') format('woff');
	src:          url('assets/fonts/InterLight.woff2') format('woff2');
	font-weight:  300;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterRegular.woff') format('woff');
	src:          url('assets/fonts/InterRegular.woff2') format('woff2');
	font-weight:  400;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterMedium.woff') format('woff');
	src:          url('assets/fonts/InterMedium.woff2') format('woff2');
	font-weight:  500;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterSemiBold.woff') format('woff');
	src:          url('assets/fonts/InterSemiBold.woff2') format('woff2');
	font-weight:  600;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterBold.woff') format('woff');
	src:          url('assets/fonts/InterBold.woff2') format('woff2');
	font-weight:  700;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Inter';
	src:          url('assets/fonts/InterExtraBold.woff') format('woff');
	src:          url('assets/fonts/InterExtraBold.woff2') format('woff2');
	font-weight:  800;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidThin.woff') format('woff');
	src:          url('assets/fonts/RuberoidThin.woff2') format('woff2');
	font-weight:  100;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidExtraLight.woff') format('woff');
	src:          url('assets/fonts/RuberoidExtraLight.woff2') format('woff2');
	font-weight:  200;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidLight.woff') format('woff');
	src:          url('assets/fonts/RuberoidLight.woff2') format('woff2');
	font-weight:  300;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidRegular.woff') format('woff');
	src:          url('assets/fonts/RuberoidRegular.woff2') format('woff2');
	font-weight:  400;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidMedium.woff') format('woff');
	src:          url('assets/fonts/RuberoidMedium.woff2') format('woff2');
	font-weight:  500;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidSemiBold.woff') format('woff');
	src:          url('assets/fonts/RuberoidSemiBold.woff2') format('woff2');
	font-weight:  600;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidBold.woff') format('woff');
	src:          url('assets/fonts/RuberoidBold.woff2') format('woff2');
	font-weight:  700;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'Ruberoid';
	src:          url('assets/fonts/RuberoidExtraBold.woff') format('woff');
	src:          url('assets/fonts/RuberoidExtraBold.woff2') format('woff2');
	font-weight:  800;
	font-style:   normal;
	font-display: swap;
}